<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <!--BOOTSTRAP CSS-->
      <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />

      <!--BOOTSTRAP JS-->
      <script src="/javascripts/1612380.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
